<% plugin = Canvas::Plugin.find('registration_form_recaptcha') %>


<div id="modal-box">

  <% form_for @demo, :url => url_for(:controller => 'demo', :action => 'create') do |f| %>


  <table align="center">
    <tr><td colspan="2" style="text-align: center"><h2><%= "Personalize Your Demo" %></h2></td></tr>
    <tr><td colspan="2" >
      <%= f.error_messages :header_message => " " %>
    </td></tr>
    <tr>
      <td><%= f.label :name, "Name:" %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :name,  "Title:" %></td>
      <td><%= f.select(:title, options_for_select([["--Choose--", ""], "Dean", "CIO", "Provost", "VP", "School Administrator",
              "Director", "Instructional Designer", "Technologist", "LMS Administrator", "Teacher/Instructor", "Student", "Other"], :selected => params[:title] ))%></td>
    </tr>
    <tr>
      <td><%= f.label :email, "Email:" %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :phone,  "Phone:" %></td>
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td><%= f.label :organization, "Organization:" %></td>
      <td><%= f.text_field :organization %></td>
    </tr>
    <tr>
      <td><%= f.label :organization_type,  "Organization Type:" %></td>
      <td><%= f.select :organization_type, options_for_select([["--Choose--", ""], "College", "School", "Corporate", "Other" ] ,:selected => params[:organization_type]) %></td>
    </tr>
    <tr>
      <td><%= f.label :organization_size,  "Organization Size:" %></td>
      <td><%= f.select :organization_size, options_for_select([["--Choose--", ""], "0-500", "500-1,000", "1,000-5,000", "5,000-10,000", "10,000-30,000",
                                                   "30,000+" ],:selected => params[:organization_size]) %></td>
    </tr>
        <tr>
          <td colspan="2">
            <% if plugin && !plugin.settings[:public_key].blank? && !plugin.settings[:private_key].blank? %>
                <%= recaptcha_tags(:public_key => plugin.settings[:public_key], :ssl => true) %>
            <% end  %>
          </td>
        </tr>
    <tr>
      <td colspan="2">
       &nbsp;
      </td>
    </tr>

    <tr><td colspan="2" style="text-align: center"><%= f.submit "Begin Trial", :class => "btn btn-primary btn-large"  %></td></tr>
  </table>

  <% end %>
</div>