
{{#if popular_course}}
<div class="span3 content-box resource" style="float: left">
<div class="type-tag-positioner" style="background-image: url('{{course_background_image}}')">
    <img alt="Course_image" class="course-badge img-circle" src="{{course_image}}" style="padding:5px;">
    <div class="type ribbon1" style="background-color: darkblue;">
        <span>Categories</span>
    </div>
</div>
<div class="details" data-id="{{id}}" style="padding: 13.5em 18px 2em 15px;color: #005580">
<h2>
    {{course_name}}
</h2>
<table style="margin-top: 23px;color:#0F0D0D;;font-weight: 100;">
    <tr>
        <td style="padding-left: 12px;">
           <img src="images/icon-book.png">
        </td>
        <td>

        </td>
        <td style="padding-left: 49px;">
            <img src="images/icon-user.png">
        </td>
        <td style="padding-left:2px">
            {{users_count}}
        </td>
        <td style="padding-left: 49px;">
            <img src="images/icon-tag.png">
        </td>
        <td style="padding-left: 2px">
            {{tags_count}}
        </td>
    </tr>
</table>
    <ul class="tags" style="list-style-type: none;">
        {{#each course_tags}}
            <li>
                <a href="#"><b>{{name}}</b>
                    <span>0</span>
                </a>

            </li>
        {{/each}}
    </ul>
 <p class="desc" style="height:42px">
    {{course_short_decription}}
 </p>
<ul>
    <div class="author_slider_index_view" style="width:229px;height:46px">
        <div class="slides" style="width:229px;height:46px">
            {{#each profile_data }}
                <div class="items" style="width:229px;height:46px">
                    {{bio}}
                </div>
            {{/each}}
        </div>
    </div>
</ul>

</div>
</div>
{{/if}}