
<div class="span3 content-box resource" style="float: left">
<div class="type-tag-positioner" style="background-image: url('{{course_background_image}}')">
    <img alt="Course_image" class="course-badge img-circle" src="{{course_image}}" style="padding:5px;">
    <div class="type ribbon1" style="background-color: darkblue;">
        <span>Categories</span>
    </div>
</div>
<div class="details" style="padding: 13.5em 18px 2em 15px;color: #005580">
<h2>
    {{course_name}}
</h2>
<ul>
 <li>
<table style="margin-top: -20px">
    <tr>
        <td style="padding-left: 20px">
            {{users}}
        </td>
        <td style="padding-left: 30px">
            {{tags}}
        </td>
        <td style="padding-left: 30px">

        </td>
    </tr>
</table>
 </li>
</ul>
</div>
</div>