
    <div class="rs-margin-all">
     <a href="#" class="add_feature_link btn button-sidebar-wide"><i class="icon-user-add"></i> add feature</a>
    </div>

    <div style="display: none;">

      <div id="add_feature_dialog">

        This feature is disabled ask admin to enable it...
        <% form_for :course, :url => courses_url, :html => {:id => "add_course_form"} do |f| %>
            <input type="hidden" name="account_id" value="<%= @account.id %>"/>
            <table class="formtable">
              <tr>
                <td><%= f.blabel :name, :en => "Course Name" %></td>
                <td><%= f.text_field :name, :style => "width: 200px;" %></td>
              </tr><tr>
              <td><%= f.blabel :course_code, :en => "Reference Code" %></td>
              <td><%= f.text_field :course_code, :style => "width: 100px;" %></td>
            </tr><tr>
              <td><%= f.blabel :account_id, :en => "Department" %></td>
              <td><%= f.select :account_id, @account.sub_accounts_as_options, :selected => @term && @term.id %></td>
            </tr><tr>
              <td><%= f.label :enrollment_term_id, :en => "Enrollment Term" %></td>
              <td><%= f.select :enrollment_term_id, @root_account.enrollment_terms.active.map{|t| [t.name, t.id] }, :selected => @term && @term.id %></td>
            </tr><tr>
              <td colspan="2">
                <div class="button-container">
                  <button type="button" class="btn dialog_closer"><%= t("#buttons.cancel", "Cancel") %></button>
                  <button type="submit" class="btn btn-primary"><%= t(:add_course_button, "Add Course") %></button>
                </div>
              </td>
            </tr>
            </table>
        <% end %>

      </div>

    </div>


    <% js_bundle :add_course_or_user %>

